---
import "@styles/main.scss";
import { Footer } from "@components/main/Footer";
import { Main } from "@components/main/Main";
import { Navbar } from "@components/main/Navbar";
---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="https://kit.fontawesome.com/7ebf61cb61.js" crossorigin="anonymous"></script>
    <title>Intrinsisch: Blog</title>
  </head>
  <body>
    <Navbar client:load />
    <Main />
    <Footer />
  </body>
</html>
