@use "sass:map";
@use "../../utils/" as u;
@use "color-definitions" as def;

$_type-props: map.get(def.$vars, "type-props");

@function get-color-var-name($variant, $type) {
  @return u.create-property(
    $prefix: def.$prefix,
    $component: $variant,
    $variant: $type,
    $global: true
  );
}

@function get-color($variant, $type) {
  @return var(#{get-color-var-name($variant, $type)});
}

@function get-color-local($type) {
  @return var(#{map.get($_type-props, $type)});
}

@mixin load-color-palette($variant) {
  @each $type, $value in $_type-props {
    #{$value}: get-color($variant, $type);
  }
}

@mixin apply-color-palette($variant) {
  #{map.get($_type-props, "text")}: get-color($variant, "text");
  #{map.get($_type-props, "component")}: get-color($variant, "component");
  color: get-color-local("text");
  background-color: get-color-local("component");
}
