---
import "@styles/main.scss";
---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <script
      src="https://kit.fontawesome.com/7ebf61cb61.js"
      crossorigin="anonymous"
    ></script>
    <title>Bootstrap: Social Network</title>
  </head>
  <body> </body>
</html>
