@use "sass:map";
@use "../../utils/" as u;
@use "typography-definitions" as def;

@function get-typography-var-name($variant) {
  @return u.create-property(
    $prefix: def.$prefix,
    $component: $variant,
    $global: true
  );
}

@function get-font($variant) {
  @return var(#{get-typography-var-name($variant)});
}
