@use "sass:map";
@use "../general/" as g;

$_var-spacing: map.get(g.$spacing-vars, "spacing");

@include g.use-framework-layer(layout) {
  .cluster {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: var(#{$_var-spacing}, #{g.get-spacing(2)});
  }
}
