@use "../general/" as g;
@use "../utils/" as u;

$container-map: (
  sm: 30rem,
  md: 45rem,
  lg: 60rem,
) !default;

$_var-con-spacing: u.create-property("con", "spacing");
$_var-con-max-width: u.create-property("con", "max-width");

@include g.use-framework-layer(layout) {
  .container {
    #{$_var-con-spacing}: var(--spacing, #{g.get-spacing(5)});
    padding-inline: max(
      var(#{$_var-con-spacing}),
      (100vw - var(#{$_var-con-max-width}, 100vw))/2
    );
    @each $size, $value in $container-map {
      &:where(.#{$size}) {
        #{$_var-con-max-width}: #{$value};
      }
    }
  }
}
