@use "sass:map";
@use "../general/" as g;

$_var-spacing: map.get(g.$spacing-vars, "spacing");

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  gap: var(#{$_var-spacing}, #{g.get-spacing(2)});
}
